.courses-container {
    padding: 42px;
}

.courses-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.courses-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
